body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(../imagenes/fondo-pagina.jpg);
}

.libro {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #79031d;
}

h2 {
    color: #020202;
}

h3 {
    color: #79031d;
}

p {
    line-height: 1.6;
}

button {
    background-color: #79031d; 
    color: #f3f0f0;  
    border: none; 
    border-radius: 8px; 
    padding: 15px 30px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  